{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "prettier/prettier": [
      "off",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "printWidth": 120,
        "tabWidth": 2,
        "semi": true,
        "bracketSpacing": true
      }
    ]
  }
}
